# 签名文件
*.p12
*.p7b
*.csr
*.cer
*.jks
*.keystore

# 构建产物
build/
.hvigor/
node_modules/

# 密码配置
build-profile.json5

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# 临时
*.tmp
*.log
_hdc.bat
_hlogs.txt
_verify.bat
_verify2.bat
search.jpg
方案评估资料/
*px.png
*hilog*
*_hlog*
*_log.txt
*_hdc*
*_verify*
*_getlog*
*_gl*
*_test_*
*.png
*流水线*
*原始需求*
init_db.db-journal
build-profile.json5
